/* Gotham Font Faces */

/* Gotham Light */
@font-face {
    font-family: "Gotham Light";
    src: url("./fonts/gotham/Gotham-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Light";
    src: url("./fonts/gotham/Gotham-LightItalic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* Gotham Book (Regular) */
@font-face {
    font-family: "Gotham";
    src: url("./fonts/gotham/Gotham-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("./fonts/gotham/Gotham-BookItalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Gotham Medium */
@font-face {
    font-family: "Gotham Medium";
    src: url("./fonts/gotham/Gotham-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Medium";
    src: url("./fonts/gotham/Gotham-MediumItalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

/* Gotham Bold */
@font-face {
    font-family: "Gotham Bold";
    src: url("./fonts/gotham/GOTHAM-BOLD.TTF") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Bold";
    src: url("./fonts/gotham/GOTHAM-BOLDITALIC.TTF") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* Gotham Black */
@font-face {
    font-family: "Gotham Black";
    src: url("./fonts/gotham/GOTHAM-BLACK.TTF") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Black";
    src: url("./fonts/gotham/GOTHAM-BLACKITALIC.TTF") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

/* Gotham Rounded Book */
@font-face {
    font-family: "Gotham Rounded";
    src: url("./fonts/gotham/gotham-rounded-book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Rounded";
    src: url("./fonts/gotham/gotham-rounded-book-italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Gotham Narrow Book */
@font-face {
    font-family: "Gotham Narrow";
    src: url("./fonts/gotham/GothamNarrow-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Narrow";
    src: url("./fonts/gotham/GothamNarrow-BookItalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Merriweather */
@font-face {
    font-family: 'Merriweather Italic';
    src: url("./fonts/merriweather/Merriweather-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather Light Italic';
    src: url("./fonts/merriweather/Merriweather-LightItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}