.JoinUs_fade_in_image__MH_a5 {
    animation: JoinUs_fadeIn__SpfLM 1s ease-in-out forwards;
    will-change: transform, opacity
}

@keyframes JoinUs_fadeIn__SpfLM {
    0% {
        opacity: 0;
        transform: translateY(50px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}